HASURA_URL=http://localhost:8491/v1/graphql
ADMIN_SECRET=password
OUR_COUNTRY_CODE=FR
OUR_PARTY_ID=MOP
PARTNER_COUNTRY_CODE=FR
PARTNER_PARTY_ID=POT
OLD_TENANT_ID=1
NEW_TENANT_ID=11
CSV_FILE=files/export.csv